*{
margin:0px;
padding:0px;
list-style:none;
}
body {
  background-image: url("backgroundA.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  height: 100vh; 
  margin: 0;
}
#all{
width:1000px;
margin:0 auto;
}
#top{
background-image: url("topA.jpg");
width:1000px;
height:200px;
}

.topnav{
  background-image: url("navbarA.jpg");
width:1000px;
height:30px;
}
.bonav{
  background-image: url("navbarA.jpg");
width:1000px;
height:30px;
}
nav a{
text-decoration:none;
line-height:30px;
margin-left:20px;
margin-right:20px;
color:#FFFFFF;
font-weight:bold;
}
nav a:hover{
color:#FFFFFF;
background-color:#FFFFFF4D;
}
nav a:active{
color:#FFFFFF;
background-color:#5555554D;
}
.topnava{
color:#FFFFFF;
}


#main{
width:980px;
background-color:#FFA500CC;
padding: 10px;
overflow: auto;
}
#main_l{
width:700px;
float:left;
}
#main_r{
float:right;
width:275px;
background-color:#DE5C07E6;

}

#main a{
color:#00FFFF;
}
#main a:visited{
color:#00FFFF;
}

#bo{
background-image: url("boA.jpg");
width:1000px;
height:200px;
}
table {
background-color:#DE5C07E6;
color: white;
    border-collapse: collapse;
  }
td, th { 
    border: 1px solid white;
  }
ol {

font-size: 16px;

}

li {

margin-bottom: 5px;

}
h3 {
    background-color:#DE5C07E6;
    color:#FFFFFF;
font-size: 20px;

}
h1,h4,h5,h6 {
color:#FFFFFF;
}
p{
font-size: 16px;

color:#FFFFFF;
}
#window{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  z-index: 999;
  padding: 20px;
}
#windowmain{
  z-index: 1000;
}
table#windowtable{
  width: 300px;
  height: 200px;
    border-collapse: collapse;
border: 1px solid white;
color: white;
}

tr#window-t{
background-image: url("navbarA.jpg"); 
background-size: cover;
  width: 300px;
  height: 40px;
}
tr#window-p{
background-color:#DE5C07E6;
  position: relative;
  width: 300px;  
  height: 160px;
}
tr#window-p button {
  position: absolute;
  bottom: 10;
  right: 15;
}
